<div id="sliderMain" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#sliderMain" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#sliderMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#sliderMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">



    <div class="carousel-item active">
      <img src="/static/images/roadmap.jpeg" class="d-block w-100 slider-image bg-black" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Roadmap</h5>
        <p>A Roadmap for Computer Science placements in top Product Based Companies</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/static/images/interview.jpg" class="d-block w-100 slider-image" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Hiring Process</h5>
        <p>A guide for major types of Hiring processes in Product Based Companies for a fresher </p>
      </div>
    </div>



    <div class="carousel-item">
      <img src="/static/images/interview1.jpg" class="d-block w-100 slider-image" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Subjects</h5>
        <p>Resources for necessary subjects.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#sliderMain" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#sliderMain" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>